@media (max-width:682px) {
    nav{
        display: none;
    }
    .section{
    background-position: center;
    }
}
@media (max-width:923px){
    .contact{
        background-color: yellow;
        height: 800px;
    }
}
