//                                      header 
body{
   @include width;
}
header{
    height: 70px;
    background-color:#1b2222;
    @include flex-proops(space-around,center);
    position: fixed;
    top: 0;
    max-width: 1170px;
    width: 100%;
    z-index: 9999;
}
.logo{
    width: 40px;
}
.logo1{
    width:165px;
    margin-left:0px;
    margin-bottom: 5px;
}
.nav{
    a{
        color: white;
        margin-right: 20px;
        font-size: 20px;      
    }
    li:hover{
        background-color: yellow;
    }
    
    ul{
        display: flex;
        :hover{
            color: black;
            padding: 5px;
            margin-right: 40px;
            border-radius: 15%;
            font-size: 24px;
            margin-left: 40px;
            transition: 1s;
        }
    }
}
.header-wraper{
    display: none;
    @media (max-width:682px) {
        display: block;
        height: 1px;
    }
}
.container {
	height: 100vh;
	position: relative;
}

/* რაც გამოდის ბურგერ დაჭერის დროს - overlay */
.nav-bar {
	position: absolute;
	background-color:rgb(228, 228, 4);
	top: 0;
	right: 100%;
	height: 601px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 999999;
    margin-top: 71px;
}
.toggle {
	left: 0;
}
/* listebis gastilva */
.nav-list-item {
	text-align: center;
	padding: 10px 0;
}

.nav-link {
	color: #fff;
	font-size: 30px;
}
.nav-link:hover{
        color: black;
        transition: 1s;
    }

/* Burger icon styles */
.toggle-menu {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  padding: 2px 2px 2px 3px;
	cursor: pointer;
}
.line {
	width: 100%;
	height: 3px;
	background-color:rgb(228, 228, 4);
	transition: transform 0.2s ease-out;
}
.toggle .line1 {
	transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
	display: none;
}
.toggle .line3 {
	transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}
//                                 section
.section{
    background-image: url("../imiges/background.jpeg");
    height: 640px;    
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 10px;  
    @media (max-width:500px) {
        height: 700px;
    }
    p{
        font-size: 35px;
	    color:rgb(228, 228, 4);
        margin-left: 35px;
        display: flex;
    }
}
.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sectiondiv1{
    max-width: 300px;
    width: 100%;
}
.sectiondiv2{
    margin-left: 50px;
    h3{
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 15px;
        color:rgb(228, 228, 4);

        
    }
    h4{
        font-size: 30px;
        color:rgb(228, 228, 4);

    }
}
.clock{
    width: 50px;
}
.ff{
    max-width: 1170px;
    width: 100%;
    margin-top: 130px;
}
      //                               menu
.menusection{
    background-color:yellow;
    flex-wrap: wrap;
}
.menudivs{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
    flex-wrap: wrap;
}
.bg{
    @include bgimg;
}
.div1{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 30px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 20px; 
    }
}
.div2{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 25px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.div3{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 20px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.menudivs2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sc2div1{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 20px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.sc2div2{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        padding: 7px;
        font-size: 22px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.sec2div3{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 27px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.menudivs3{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sc3div1{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 24px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.sc3div2{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 24px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.sc3div3{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    h2{
        font-size: 23px;
        margin-left: 10px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.menudivs4{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sc4div1{
    margin-top: 30px;
    border: solid 2px white;
    padding-bottom: 10px;
    max-width: 250px;
    width: 100%;
    margin-bottom: 50px;
    h2{
        font-size: 23px;
        margin-left: 10px;
        @include flex-proops (center,center)
    }
    h3{
        font-size: 20px;
        margin-top: 7px;
        @include flex-proops (center,center)      
    }
    a{
        margin-left:8px;
        color: black;
    }
    h4{
        max-width: 250px;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        padding: 5px;
    }
}
.img{
    max-width:230;
    width: 100%;
}
//                                  contact
.contact{
    @include flex-proops(space-around,center);
    background-color: yellow;
    height: 640px;
    flex-wrap: wrap;
    @media (max-width:923px){
            background-color: yellow;
            height: 827px;
            max-width: 1170px;
            width: 100%;
    }
    

    a{
        color: black;
        font-size: 25px;
        margin-left: 8px;
        @media (max-width:340px) {
             color: black;
             font-size: 19px;
             margin-left: 8px;
        }
    }
}
.contactdiv{
    margin-top: 15px;
}
.contactdiv1{
    margin-top: 90px;
}
.map{
    max-width: 600px;
    width: 100%;
    margin-top: 70px;
    
}
iframe{
    margin-top: 40px;
    max-width: 600px;
    width: 100%;
}
.ff1{
    max-width: 1170px;
    width: 100%;
    margin-top: 52px;
}
//                                     about
.about{
    @include flex-proops (space-around,center);
    background-color: yellow;
    flex-wrap: wrap;
    height: 640px;
}
.video{
    max-width: 450px;
    width: 100%;
    margin-top: 100px;
    border: 2px solid white;
}
.ff2{
    max-width: 1170px;
    width: 100%;
    margin-top: 257px;
}
//
